/__pycache__
.DS_Store
/.ipynb_checkpoints
/guppies-collective-src
/src/behavior/__pycache__
/src/behavior/__pycache__
*.pyc
*.pyc
/outputs
behavior-v3.ipynb
/dev-prev
ESI-predict.ipynb
behavior-v3.ipynb
/dev-prev
behavior-v2-guppies.ipynb
behavior-v2.ipynb
behavior-v3.ipynb
Task3.ipynb
/src/behavior/__pycache__
behavior-v3-guppies.ipynb
/dev-docs
behavior-v3-guppies.ipynb.bak
behavior-v3.ipynb.bak
*.bak
/src/behavior/__pycache__
*.pyc
/dev+docs
/src/behavior/__pycache__
uv.lock
notebooks/trex-bees.ipynb
/src/behavior/__pycache__
/src/behavior/__pycache__
/guppies
behavior-guppies.code-workspace
/src/behavior/__pycache__
sync-to-remote.ipynb
/src/behavior/__pycache__
